<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Success</title>
</head>
<body>
    <div class="card mx-auto my-5 col-6 text-primary">
        <h1 class="card-title">Servey Results</h1>
        <p class="card-text">Name: {{session['name']}}</p>
        <p class="card-text">Dojo Location: {{session['location']}}</p>
        <p class="card-text">Favorite Language: {{session['language']}}</p>
        <p class="card-text">Comments: {{session['comments']}}</p>
        <a href="/" class="btn btn-primary text-light col-2">Home Page</a>
    </div>
</body>
</html>